body {
    font-family: 'Permanent Marker', cursive;
}
#quizarea {
    background-color:blueviolet;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%; 
}